body{
    font-family: 'Mirza', cursive;
}

#Mini-Mall-mainlogo{
    height: 60px;
    width: 90px;
}

.navbar{
    background-color: transparent !important;
}

#navbar-menu{
    border-top: 2px solid #BBA99D !important;
    border-bottom: 2px solid #BBA99D !important;
}

#lp-second-part{
    padding-left: 150px;
    padding-right: 150px;
}

#lp-content-img {
    position:absolute;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
    padding-left: 0;
}
  
#lp-content-text {
    position: absolute;    /* posición absolute con respecto al padre */
    top: 1rem;             /* posicionada en la esquina inferior derecha */
    left: 1.5rem;
}

.rounded-circle{
    border: 2px solid #EEC058;
    height: 150px;
    width: 150px;
}

#lp-second-lists{
    margin-right: auto;
    background-color: transparent !important;
    border: none;
    padding-top: 90px;
    padding-bottom: 90px;
    
}

.card-text{
    color:black;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow:none;
}

#lp-card-company , #lp-sidebar-comment, .bg-dark, footer, .img-thumbnail, #form-company, #btn-client-register, #btn-admin-register, #country-select-admin, #currency-select-admin, #modal-header-company, #btn-company-login, #btn-company-register-modal, #btn-branch, #btn-promotion, #product-select-promotion, #branch-select-promotion, #btn-comment-product, #btn-buy-product, #btn-add-fav-product, #btn-add-cart-product, #btn-comment-product, #tabs-company-profile, #sex-select-admin, #btn-update-info{
    background-color: #EEC058 !important;
    border:none !important;
}

#form-client, #form-branch, #modal-header-client, #btn-client-login, #btn-client-register-modal, #form-product, #tabs-client-profile{
    background-color: #FBC987 !important;
    border:none !important;
}

.form-control, .btn-danger, iframe, #lp-card-comments, #form-client, #form-branch, #btn-client-register, #btn-admin-register, #form-admin, #form-promotion, #btn-client-login, #btn-branch, #btn-product{
    border-radius: 0.6rem;
}


.active{
    color:black;
}

#country-select,#categories-select-product, #currency-select, #plan-select, #form-admin, #form-promotion, #modal-header-admin, #btn-admin-login, #btn-company-register, #btn-product, #image-product, #sex-select-client, #tabs-admin-profile, #admin-photo-profile, #table-admin, #btn-admin-register-modal, .bg-secundary, #sex-select-admin-update, #btn-update-info-admin{
    background-color: #757575 !important;
    border:none !important;
}

#btn-logout-admin{
    background-color: #222222 !important;
    border:none !important;
}

input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}

#form-product{
    background-color: rgb(238, 193, 88, 0.2);
}

.fb-image-profile{
    border-radius: 0.8rem;
    border: 5px solid #FBC987 ;
    width: 15rem;
    height: 15rem; 
}

#company-photo-logo{
    border: 5px solid #EEC058 !important;
}

.my-custom-scrollbar {
    position: relative;
    height: 14rem;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-warning{
    background-color: #EEC058;
}


@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    
}

@media (min-width: 768px) {
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; 
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EEC058;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #000;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #000;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }