body {
    padding-top: 4.5rem;
    padding-left: 0;
}

.navbar{
    padding-left:25px;
    padding-right:150px;
}

.card{
    border:none;
}

.card-body{
    padding: 0;
}

.card-img-top{
    height: 150px;
}

#formCard{
    border:2px solid rgba(0,0,0,.125) !important;
    border-radius: 5px 5px 5px 5px !important;
    padding: 2rem;
}

.form-control{
    margin-bottom: 5px;
}